body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}

h1{
  font-size: 50px;
}


.name{
  color: orange;
}


.flexible-container{
  display: flex;
  margin-bottom: 125px;
}


.half-width{
  width: 50%;
  padding-left: 5%;

}
.half-width img{
  width: 80%;
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(rgba(247, 77, 77, 0.952), rgba(255, 110, 135, 0.808));
  padding: 10px 40px;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat:no-repeat;
  
}

.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;

}
.half-width p{
  padding-right: 17%;
}
.experiene-area{
  display: block;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  
}
.boxes-shadow{
  width: 40%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  padding-left: 10px;
  

}
.boxes-shadow h1{
  font-size: 40px;
  padding-left: 3px;
  
}
.first-box-width{
  margin-left: 5%;
  margin-right: 2%;
  border-left: 7px solid rgba(252, 63, 63, 0.966);

}
.second-box-width{
  margin-left: 2%;
  margin-right: 5%;
  border-left: 7px solid rgba(102, 5, 230, 0.966);

}
.flexible-container h3{
  color:orange;
}

footer p{
  text-align: center;
}
